body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-size: 14px; }

ul {
  margin: 0;
  padding: 0;
  list-style: none; }

a {
  color: #000;
  font-size: 14px; }

a:hover {
  color: #fff !important;
  text-decoration: none; }

  .title-box-ch {
      position: relative; 

    }
  .title-box-ch h4 {
    margin: 0;
    background: #af5405;
    color: #fff;
    font-size: 20px;
    padding: 10px; }
  .title-box-ch:after {
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 24px 0 20px 35px;
    border-color: transparent transparent transparent #af5405;
    position: absolute;
    right: -35px;
    top: 0;
  }

.img-box-content-ch img {
  height: calc(100vh - 60px - 130px);
  width: 100% !important;
  -o-object-fit: cover;
  object-fit: cover; }

.menu-box-bottom {
  width: 100%; }
  .menu-box-bottom .menu-item {
    display: inline-block;
    width: 18%;
    float: left;
    background: #007bff;
    text-align: center;
    padding: 10px; }
    .menu-box-bottom .menu-item .img-menu-item img {
      height: 82px;
      margin-bottom: 12px;
      width: auto; }
    .menu-box-bottom .menu-item h4 a {
      display: block;
      font-size: 17px;
      color: #fff;
      text-transform: uppercase;
      -o-text-overflow: ellipsis;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap; }

.menu-box-bottom .menu-item:nth-child(2) {
  background: #ffcc33; }

.menu-box-bottom .menu-item:nth-child(3) {
  background: #cc66ff; }

.menu-box-bottom .menu-item:nth-child(4) {
  background: #33ad85; }

.menu-box-bottom .menu-item:nth-child(5) {
  background: #d65c5c; }

.menu-box-bottom .menu-item:nth-child(6) {
  background: #426ab9; }

.menu-box-bottom .menu-item:hover {
  background: #557cca;
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s; }

.title-box-item-ch h4 {
  font-size: 30px; }

a.img-item-ser img {
  width: 100%;
  -webkit-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s; }

.img-item-ser:hover img {
  -webkit-transform: translateY(-10px);
  -ms-transform: translateY(-10px);
  transform: translateY(-10px); }

.service-hot .col-md-3 {
  margin-bottom: 30px; }
  





.tabs-doanhnghiep-box li a.active {
    background: #2698f1 !important;
    color: #fff !important;
    border-color: #2698f1 !important;
}

.tabs-doanhnghiep-box li a {
    color: #000 !important;
}
.tabs-doanhnghiep-box li a:hover {
    color: # !important;
    border-color:#2698f1 !important;
}
.tabs-doanhnghiep-box{
  border-bottom-color: #2698f1 !important;
  margin-bottom: 50px;
}

.quyetdinh-box {
    background: #2698f1;
    border-radius: 20px;
    padding: 0 10px;
    font-size: 14px;
    margin-bottom: 20px;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    box-shadow: 4px 4px 4px #444;
}
.quyetdinh-box a {
    color: #fff;
    padding: 10px 10px;
    display: block;
}
.quyetdinh-box:hover {
    background: #00f;
}
.img-news-doanhnghiep {
    width: 150px;
    object-fit: cover;
    float: left;
    margin-right: 10px;
}
.name-news-item h4 {
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 14px;
    color: #000;
}
.short-content-new {
    font-size: 14px;
    color: #444;
}

.news-doanhnghiep {
    margin-bottom: 30px;
    overflow: hidden;
        border: solid 1px #ccc;
    padding: 10px;
    box-shadow: 4px 4px 4px #666;
        background: #ebebeb;
}

a.add-color-red {
    background: red;
    color: #fff;
}
.img-news-doanhnghiep img {
    width: 150px;
    height: 110px;
    object-fit: cover;
}

.tabs-doanhnghiep-box li {
    max-width: 200px;
}


.uudai-item a {
    color: #fff;
    display: block;
    padding: 10px;
}
.uudai-item {
    background: #444;
    margin-bottom: 30px;
    border-radius: 20px;
}

.uudai-item.add-color {
    background: #e22626;
}
.info-uudai-box {
    border: solid 1px #000;
    padding: 10px;
}
.content-uudai-title {
    background: #2698f1;
    color: #fff;
    text-align: center;
    padding: 20px;
}
.congnghemoi-box ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.congnghemoi-box ul li {
    margin: 0;
    padding: 0;
    border: solid 1px #000;
    padding: 20px;
}
.congnghemoi-box ul li {
    margin: 0;
    padding: 0;
    border: solid 1px #000;
    padding: 20px;
    background: #e12626;
    color: #fff;
}


.quyetdinh-box:hover a {
    color: #fff !important;
}

.uudai-item:hover a {
    color: #fff !important;
}


.pushy {
  position: fixed;
  width: 250px;
  height: 100%;
  top: 0px;
  z-index: 9999;
  overflow: auto;
  background: #ffffffc4;
  padding: 0 10px;
}

.pushy a:hover {
    background: #666;
}
.pushy a.active {
    background: #666;
}
li.pushy-link {
    background: #7cb5ec;
    margin-bottom: 10px;
}

.pushy a {
    display: block;
    color: #fff;
    padding: 30px 10px;
    text-decoration: none;
    font-size: 14px;
    text-align: center;
    transition: all .3s;
  }

.pushy.pushy-left {
  left: 0; }

.pushy.pushy-right {
  right: 0; }

.pushy-content {
  visibility: hidden; }

/* Menu Movement */
.pushy-left {
  -webkit-transform: translate3d(-260px, 0, 0);
  -ms-transform: translate3d(-260px, 0, 0);
  transform: translate3d(-260px, 0, 0); }

.pushy-open-left #container,
.pushy-open-left .push {
  -webkit-transform: translate3d(-260px, 0, 0);
  -ms-transform: translate3d(-260px, 0, 0);
  transform: translate3d(-260px, 0, 0); }

.pushy-right {
  -webkit-transform: translate3d(-260px, 0, 0);
  -ms-transform: translate3d(-260px, 0, 0);
  transform: translate3d(-260px, 0, 0); }

.pushy-open-right #container,
.pushy-open-right .push {
  -webkit-transform: translate3d(-260px, 0, 0);
  -ms-transform: translate3d(-260px, 0, 0);
  transform: translate3d(-260px, 0, 0); }

.pushy-open-left .pushy,
.pushy-open-right .pushy {
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  box-shadow: 4px 4px 10px #444;
   }


.pushy-open-left .pushy-content,
.pushy-open-right .pushy-content {
  visibility: visible; }

/* Menu Transitions */
#container,
.pushy,
.push {
  -webkit-transition: -webkit-transform 0.2s cubic-bezier(0.16, 0.68, 0.43, 0.99);
  transition: -webkit-transform 0.2s cubic-bezier(0.16, 0.68, 0.43, 0.99);
  -o-transition: transform 0.2s cubic-bezier(0.16, 0.68, 0.43, 0.99);
  transition: transform 0.2s cubic-bezier(0.16, 0.68, 0.43, 0.99);
  transition: transform 0.2s cubic-bezier(0.16, 0.68, 0.43, 0.99), -webkit-transform 0.2s cubic-bezier(0.16, 0.68, 0.43, 0.99); }

.pushy-content {
  -webkit-transition: visibility 0.2s cubic-bezier(0.16, 0.68, 0.43, 0.99);
  -o-transition: visibility 0.2s cubic-bezier(0.16, 0.68, 0.43, 0.99);
  transition: visibility 0.2s cubic-bezier(0.16, 0.68, 0.43, 0.99); }

/* Site Overlay */
.site-overlay {
  display: none; }

.pushy-open-left .site-overlay,
.pushy-open-right .site-overlay {
  display: block;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 9998;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-animation: fade 500ms;
  animation: fade 500ms; }

@keyframes fade {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@-webkit-keyframes fade {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

/* Submenu Appearance */
.pushy-submenu {
  /* Submenu Buttons */
  /* Submenu Icon */ }

.pushy-submenu ul {
  -webkit-transition: max-height 0.2s ease-in-out, visibility 0.2s ease-in-out;
  -o-transition: max-height 0.2s ease-in-out, visibility 0.2s ease-in-out;
  transition: max-height 0.2s ease-in-out, visibility 0.2s ease-in-out; }

.pushy-submenu ul .pushy-link {
  -webkit-transition: opacity 0.2s ease-in-out;
  -o-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out; }

.pushy-submenu button {
  width: 100%;
  color: #ebebeb;
  padding: 7px 35px;
  text-align: left;
  background: transparent;
  border: 0;
  font-size: 14px; }

.pushy-submenu button:hover {
  color: #cd661d; }

.pushy-submenu > a,
.pushy-submenu > button {
  position: relative; }

li.pushy-link {
  position: relative; }

ul li.pushy-link span {
  position: absolute;
  left: 10px;
  font-size: 14px; }

.pushy-submenu > a::after,
.pushy-submenu > button::after {
  content: '';
  display: block;
  height: 10px;
  width: 10px;
  position: absolute;
  top: 51%;
  right: 15px;
  background: url("../images/arrow.svg") no-repeat;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  -o-transition: transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s; }

li.pushy-submenu.pushy-submenu-closed button > span {
  position: absolute;
  left: 10px;
  font-size: 14px; }

li.pushy-submenu.pushy-submenu-open button > span {
  position: absolute;
  left: 10px;
  font-size: 14px; }

/* Submenu Movement */
.pushy-submenu-closed ul {
  max-height: 0;
  overflow: hidden;
  visibility: hidden; }

.pushy-submenu-closed .pushy-link {
  opacity: 0; }

.pushy-submenu-open {
  /* Submenu Icon */ }

.pushy-submenu-open ul {
  max-height: 1000px;
  visibility: visible; }

.pushy-submenu-open .pushy-link {
  opacity: 1; }

.pushy-submenu-open a::after,
.pushy-submenu-open button::after {
  -webkit-transform: translateY(-50%) rotate(90deg);
  -ms-transform: translateY(-50%) rotate(90deg);
  transform: translateY(-50%) rotate(90deg); }

button.menu-btn {
    float: right;
    border: none;
    position: relative;
    display: inline-block;
    margin: 0;
    background: #2698f1 !important;
    color: #fff;
    font-size: 20px;
    padding: 5px;
    width: 60px;
    position: absolute;
    right: 20px;
    top: 10px;
        border-radius: 10px;
}
.nav-box{
  position: relative;
}

.footer-icon {
    position: fixed;
    bottom: 20px;
    right: 20px;
}

#home {
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: lightgray;
    color: white;
    cursor: pointer;
    padding: 12px;
    border-radius: 4px;
}
#back {
    z-index: 99;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: lightgray;
    color: white;
    cursor: pointer;
    padding: 12px;
    border-radius: 4px;
}


.tintuc-sukien-box{
    
    
    background: #ffffffc9 !important
}

h3.name-news-home {
    line-height: 20px;
    margin-top: 10px;
}
h3.name-news-home a {
    font-size: 18px;
}
.news-home-dn {

    padding: 10px;
}

.img-news-left img {
    width: 130px;
    height: 120px;
    object-fit: cover;
}

.img-news-left {
    float: left;
    padding-right: 10px;
}
.info-news-left h4 a {
    font-size: 14px;

}
.info-news-left h4 {
    line-height: 20px;
}
.news-left-box {
    padding: 5px;
    margin-bottom: 10px;
    overflow: hidden;
    
}
p.shotr-news-left {
    font-size: 14px;
}

.new-box-hom-hot{
  background: #ffffffc9 !important;
  overflow: hidden;
}

.new-home-right-hot {
    width: 65%;
    float: left;
    padding-right: 10px;
}
.img-news-home img {
    height: 400px;
    width: 100%;
    object-fit: cover;
}
.new-home-item {
    float: right;
    width: 35%;
}

